.dd-wrapper {
  display: inline-flex;
  height: 50px;
  width: 200px;
  z-index: 3;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: default;
  }
}

.dd-list {
  height: 120px;
  overflow: scroll;
}

.dd-item {
  &:hover {
    background-color: greenyellow;
    cursor: default;
  }
}

.dd-header-title {
  &:hover {
    background-color: hsla(300,100%,30%, .1);
  }
}