.details-field {
  background: linear-gradient(rgb(179, 129, 179), #FFF);
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: row;
  font-size: 32px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  width: 95%;
}

.left, .right {
  animation: 1.3s slide-up, 2s fade;
  animation-fill-mode: forwards;
  background: plum;
  box-shadow: 2px 5px 4px black;
  height: 500px;
  margin: auto;
  padding: 20px;
  overflow: scroll;
  width: 350px;
  &:hover {
    border: 1px solid black;
    box-shadow: 3px 10px 6px rgb(19, 216, 216);
    filter: brightness(1.7);
    cursor: crosshair;
    transition: filter 1s;
  }
}

.right {
  background: cadetblue;
  &:hover {
    background-color: #FFF;
    transition: background-color 1s;
  }
}

@keyframes slide-up {
  from {margin-top: 300px;}
  to {margin-top: 30px;}
}

@keyframes fade {
  0% {opacity: 0;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}