.details-field {
  background: #FFF;
  color: black;
  display: flex;
  flex-direction: row;
  font-size: 32px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  width: 95%;
}

.left {
  background: plum;
  height: 500px;
  margin: auto;
  padding: 20px;
  overflow: scroll;
  width: 350px;
}

.right {
  background: cadetblue;
  height: 500px;
  margin: auto;
  padding: 20px;
  overflow: scroll;
  width: 350px;
}