.form {
  background: none;
  display: inline-flex;
  flex-direction: column;
  padding-top: 26px;
  padding-bottom: 26px;
  width: 100%;
}

.header {
  margin-top: 200px;
}

.input {
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 26px;
  height: 127px;
  letter-spacing: 1.2px;
  padding: 10px;
  padding-bottom: 35px;
  word-break: break-word;
  width: 977px;
  &:hover {
    background: hsla(60,100%,50%, .1);
    cursor: auto;
  }
  &:focus {
    background: hsla(60,100%,50%, .1);
    outline: none;
  }
}

#input-cont {
  display: inline-flex;
  flex-direction: column;
  margin: auto;
  width: 977px;
}

.translate-btn {
  background: #FFF;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: black;
  font-size: 20px;
  height: 40px;
  margin: auto;
  margin-top: -5px;
  width: 1000px;
  &:hover {
    background: hsla(300,100%,30%, .1);
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    cursor: pointer;
    font-weight: bolder;
    letter-spacing: 1.3px;
    text-shadow: 1px 1px lavender;
    transition: background-color .5s ease;
  }
  &:focus {
    outline: none;
  }
}

.nav-link {
  border: none;
  color: black;
  font-size: 26px;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 300px;
  &:hover {
    color: hsla(300,100%,30%, .4);
    cursor: pointer;
    text-decoration: underline;
  }
  &:focus {
    outline: none;
  }
}