.container {
  background: hsla(360, 360, 360, 1);
  display: flex;
  flex-wrap: wrap;
  height: 700px;
  margin: auto;
  padding-left: 15px;
  width: 99%;
}

#heading {
  border-bottom: 1px dotted #FFF;
  color: #FFF;
  font-weight: 300;
  margin-left: 10px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: left;
  width: 400px;
}