.container {
  display: flex;
  // align-items: center;
  // justify-content: left;
  // flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15px;
  // flex-flow: row wrap;
  // margin: auto;
  // text-align: center;
}

#heading {
  border-bottom: 1px dotted #FFF;
  color: #FFF;
  font-weight: 300;
  margin-left: 10px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: left;
  width: 400px;
}