.text-box {
  background: linear-gradient(#FFF, rgb(179, 129, 179));
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.20);
  color: black;
  font-size: 26px;
  height: 180px;
  letter-spacing: 1px;
  margin: 30px;
  margin-bottom: 0;
  opacity: 0.9;
  padding: 8px;
  text-align: left;
  font-weight: 300;
  overflow: scroll;
  width: 450px;
  &:hover {
    background-color: linear-gradient(rgb(179, 129, 179), #FFF);
    cursor: pointer;
    opacity: 1;
    transition: background-color .5s ease;
  }
}

.text-link {
  text-decoration: none;
}

.delete {
  border: 1px dotted cadetblue;
  color: cadetblue;
  font-size: 16px;
  height: 20px;
  margin-top: 15px;
  line-height: 1.2;
  width: 100px;
  border-radius: 80px;
  &:hover {
    height: 50px;
    margin-top: 8px;
    width: 100px;
    box-shadow: 1px 1px black;
    cursor: pointer;
    transition: background-color 1s ease-out,
                width 1s ease,
                height .5s ease-in-out,
                margin-top 1s ease,
                border-radius 1s ease-in;
  }
  &:focus {
    outline: none;
  }
}

.phrase-box {
  height: 180px;
  margin: 44px;
}