.text-box {
  background: grey;
  border: 1px dotted #FFF;
  // color: #FFF;
  font-size: 22px;
  margin: 30px;
  opacity: 0.9;
  padding: 10px;
  text-align: left;
  width: 29%;
  &:hover {
    background: #FFF;
    box-shadow: 0 5px 6px rgba(0,0,0,0.20);
    // color: grey;
    transition: background-color .5s ease;
  }
}