.text-box {
  background: #FFF;
  border: 1px dotted #FFF;
  box-shadow: 0 5px 10px rgba(0,0,0,0.20);
  color: black;
  font-size: 26px;
  height: 80px;
  margin: 30px;
  opacity: 0.9;
  padding: 8px;
  text-align: left;
  font-weight: 300;
  width: 29%;
  &:hover {
    background: #ffefc1;
    cursor: pointer;
    font-weight: normal;
    transition: background-color .5s ease;
  }
}